[submodule "git/kernel-rt-deb2"]
	path = git/kernel-rt-deb2
	url = https://github.com/zultron/kernel-rt-deb2.git
[submodule "git/linux-tools-deb"]
	path = git/linux-tools-deb
	url = https://github.com/zultron/linux-tools-deb.git
[submodule "git/rcn-linux-arm"]
	path = git/rcn-linux-arm
	url = https://github.com/zultron/linux-dev.git
[submodule "git/rtai"]
	path = git/rtai
	url = https://github.com/zultron/RTAI.git
[submodule "git/rtai-deb"]
	path = git/rtai-deb
	url = https://github.com/zultron/rtai-deb.git
