# ignore all directories except /git/ and /pbuild/
/*/
!/git/
!/pbuild/

# ignore unpacked linux tarball files
/git/linux/
!/git/linux/debian
/git/kmodule-srcs.tgz

# ignore stamps
.dir-exists*
/stamps/
.stamp-*
