# ignore all directories except /git/ and /pbuild/
/*/
!/git/
/git/*
!/git/cython-deb
!/git/kernel-rt-deb2
!/git/libsodium-deb
!/git/libwebsockets-deb
!/git/linux-tools-deb
!/git/pyzmq-deb
!/git/rcn-linux-arm
!/git/rtai
!/git/rtai-deb
!/git/zeromq4-deb
!/pbuild/

# ignore stamps
.dir-exists*
.stamp-*
