[submodule "git/linux-tools-deb"]
	path = git/linux-tools-deb
	url = https://github.com/zultron/linux-tools-deb.git
[submodule "git/rcn-linux-arm"]
	path = git/rcn-linux-arm
	url = https://github.com/zultron/rcn-linux-arm.git
[submodule "git/rtai-deb"]
	path = git/rtai-deb
	url = https://github.com/zultron/rtai-deb.git
[submodule "git/libsodium-deb"]
	path = git/libsodium-deb
	url = https://github.com/zultron/libsodium-deb.git
[submodule "git/zeromq4-deb"]
	path = git/zeromq4-deb
	url = https://github.com/zultron/zeromq4-deb.git
[submodule "git/pyzmq-deb"]
	path = git/pyzmq-deb
	url = https://github.com/zultron/pyzmq-deb.git
[submodule "git/libwebsockets-deb"]
	path = git/libwebsockets-deb
	url = https://github.com/zultron/libwebsockets-deb.git
[submodule "git/jansson-deb"]
	path = git/jansson-deb
	url = https://github.com/zultron/jansson-deb.git
[submodule "git/czmq-deb"]
	path = git/czmq-deb
	url = https://github.com/zultron/czmq-deb.git
[submodule "git/kernel-rt-deb"]
	path = git/kernel-rt-deb
	url = https://github.com/zultron/kernel-rt-deb.git
[submodule "git/hostmot2-firmware"]
	path = git/hostmot2-firmware
	url = https://github.com/zultron/hostmot2-firmware-deb.git
[submodule "git/etherlab-deb"]
	path = git/etherlab-deb
	url = https://github.com/zultron/etherlab-dev.git
