Origin: tmp-ppa
Label: tmp-ppa-@codename@-@arch@
# copied into Release files; stable, testing or unstable
Suite: stable
# distribution; dists/<codename> & in Release files
Codename: @codename@
Version: 3.0
Architectures: @arch@
Components: main
Description: @codename@ intermediate pbuilder ppa for Xenomai kernel build
